ul {
    list-style: none;
    padding-left: 0;
    margin-top: 55px;
    margin-bottom: 50px;
    
    
    
  }
  ul li {
    margin:20px;
    
  
    
    
  }
#container {
    background-color: white;
    margin: 180px auto;
    width: 800px;
  }

#label {
  height: 200px;
    /*background-color: gray;
  background: grey;*/

  top:0;left:0;right:0;bottom:0;

  display: flex;
  align-items: center;
  justify-content:center;
  
  
}


button[type="submit"]{

    cursor: pointer;
    display: flex;
    border-radius: 5px;
    display: block;
    font-size: 13px 맑은고딕, 굴림, 돋움;
    letter-spacing: 1px;
    margin: auto;
    padding: 20px 20px;
    text-align: center;
    margin-top: 30px;

  }

  button[type=submit]:hover {
    background-color:rgb(75, 75, 75);
    color:#fff;
    border-color:#fff;
  }
  
#logo img{
    height: 90px;
    margin: 0 auto;
    
}


fieldset{
    margin: 0 auto;
    position: relative;
    background: white;
    border: 1px solidrgb(73, 73, 73);
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 700px;
    height: 450px;
    line-height: 40px;
    text-align: center;
}


#findId h1{
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}
input[type="email"] {
    width:250px;
    height:40px;
    
    
  }
  input[type="password"] {
    width:250px;
    height:40px;
    
    
  }

#findId li label {
    width: 100px;
    height: 20px;
    line-height:50px;
    font-size:20px;
    font-weight:default;
    float:left;
  }

/*
  #submit input {
    width:100px;
    height:50px;
    font-size:20px;
  }
  #submit input:hover {
    background-color:rgb(75, 75, 75);
    color:#fff;
    border-color:#fff;
  }
*/

#l-link {
    margin: 0 auto;
    text-align: center;

}
a {
  text-decoration-line: none;
  color: black;
  padding-left: 8px;
  padding-right: 8px;


}