<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias alias="member" type="com.project.clsp.model.MemberDto"/>
		<typeAlias alias="freeBoard" type="com.project.clsp.model.FreeBoardDto"/>
		<typeAlias alias="api" type="com.project.clsp.dao.ApiVdRepository"/>
		<typeAlias alias="board" type="com.project.clsp.dao.BoardRepository"/>
		<typeAlias alias="mypage" type="com.project.clsp.dao.MyPageRepository"/>
		<typeAlias alias="memberMapper" type="com.project.clsp.mapper.MemberMapper"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/Mypage.xml"/>
	</mappers>
	
</configuration>