*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SDSamliphopangche_Outline';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SDSamliphopangche_Basic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html{
  scroll-behavior: smooth;
}
div{
  padding: 20px;
  margin-bottom: 30px;
}
#logo img{
height: 150px;
}
header{
position: sticky;
top: 0;
left: 0;
right: 0;
height: 260px;
z-index: 1;
}
.header{
  height: 150px;
  display: flex;
  margin: 0;
  background-color: rgb(255, 255, 255);
  border-bottom: 1.5px solid #535353;
}
#top-nav{
  position: absolute;
  top: 10px;
  right: 120px;
}
#top-nav button{
  text-align: center;
  margin-left: 20px;
  background-color: #ffffff;
}
#top-nav button > a{
  font-family: 'GangwonEdu_OTFBoldA';
  text-decoration: none;
  color: rgb(58, 58, 58);
}


.row{
	float: right;
	display: inline-block;
}

.searchTable{
  float: right;
  margin-bottom: 100px;
  padding-right: 30px;
 
}

.searchTable button {
  cursor: pointer;

}
.search{
  width: auto;
  height: 30px;
  position: static;
 
}

h1{
font-size: 30px;
margin-top: 20px;
margin-left: 30px;

}

.form-control{
  border: 1.5px solid rgb(73, 73, 73);
  border-radius: 5px;
  
}
.form-control option {
  font-family: 'GangwonEdu_OTFBoldA';
  color: black;
  font-size: 15pt;
  
}


li, ul{
  list-style: none;
}
a{
text-decoration: none;
}
#logo{
margin-left: 90px;
}
.menu {
  width: 100%;
  overflow: hidden;
  margin:auto;
  text-align: center;
}
.menu > li {
  width: 20%;
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #ffffff;
  text-decoration: none;
}
.menu a {
  text-decoration: none;
  font-family:'GangwonEduPowerExtraBoldA';
  color: rgb(46, 45, 45);
}
.submenu > li {
  line-height: 35px;
  background-color: #ffffff;
  font-size: 15pt;
}
.submenu {
  height: 0; 
  overflow: hidden;
}
.menu > li{
  font-size: 25pt;
}
.menu > li:hover {
  transition-duration: 0.5s;
}
.menu a:hover{
  color: #535353;
}
.menu > li:hover .submenu {
  height: 100px;
  transition-duration: 1s;
}


.record_menu{
  border-bottom: 1px solid #535353;
  border-top:1px solid #535353;
  margin: auto;
  overflow: hidden;
}
.record_menu >li{
  width: 25%;
  float: left;
  line-height: 40px;
  background-color: #ffffff;
  font-family: 'GangwonEdu_OTFBoldA';
  color: black;
  font-size: 15pt;
}

#record_menu > li{
  color: black;
}


.rowTable {
  width: auto;
  height: 310px;
  padding: 0px;
  
}

a{
  text-decoration: none;
  color: black;
}

.table {
  position: absolute;
  /*background-color: #ae2e2e;*/
  width: 90%;
  text-align: center; 
  /*border: 2px solid #dddddd*/
  border-collapse : collapse
  
}
.table td{
  
  border-bottom: 1px solid #252525;
  height: 45px;
  border-left: none;
  border-right: none; 
  border-collapse : collapse
}

th{
  border-top: 1px solid #252525;
  background-color: #eeeeee; 
  text-align: center;
  border-bottom: 1px solid #252525;
  height: 60px;
  font-family: 'GangwonEdu_OTFBoldA';
  color: black;
  font-size: 16pt;
  border-left: none;
  border-right: none; 
  border-collapse : collapse
}

.table select {
  width: 100px;
  height: 40px;
  padding: 2px;
}

select option {
  font-family: 'GangwonEdu_OTFBoldA';
  color: black;
  font-size: 15pt;
  padding: 0px;
  padding-top: 5px;
  
  
}

.category-control {
  font-family: 'GangwonEdu_OTFBoldA';
  color: black;
  font-size: 15pt;
  height: 50px;
  background-color: #eeeeee;
  padding: 0px;
  
}

.write{
	display:inline-block;
  	cursor: pointer;
  	float: right;
}
.write a {
  font-family: 'GangwonEdu_OTFBoldA';
  color: black;
  font-size: 15pt;
 

}

/* Pagination links */
.pagination a {
  color: black;
  float: center;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  
}
.pagination {
  text-align: center;

}
/* Style the active/current link */
.pagination a.active {
  background-color: rgb(138, 141, 143);
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(39, 38, 38);
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

/*페이징버튼*/
.pagebtn {
   margin-top : 200px;
   cursor: pointer;
   padding : 0px;
   
}
