ul {
  list-style: none;
  padding-left: 0;
  margin-top: 55px;
  margin-bottom: 50px;
      
  }
  ul li {
    margin:20px;
   
  }
#container {
    background-color: white;
    margin: 180px auto;
    width: 800px;
  }

button[type="button"]{

    cursor: pointer;
    display: flex;
    border-radius: 5px;
    display: block;
    font-size: 13px 留묒�怨좊뵓, 援대┝, �룍��;
    letter-spacing: 1px;
    margin: auto;
    padding: 20px 20px;
    text-align: center;
    margin-top: 30px;

  }

  button[type="button"]:hover {
    background-color:rgb(75, 75, 75);
    color:#fff;
    border-color:#fff;
  }
  
#logo img{
    height: 90px;
    margin: 0 auto;
    
}
#label {
  height: 200px;
  /*background-color: gray;
  background: grey;*/

  top:0;left:0;right:0;bottom:0;

  display: flex;
  align-items: center;
  justify-content:center;

}


fieldset{
    margin: 0 auto;
    position: relative;
    background: white;
    border: 1px solidrgb(73, 73, 73);
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 700px;
    height: 450px;
    line-height: 40px;
    text-align: center;

}
#findPw h1{
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}
input[type="email"] {
    width:250px;
    height:40px;
    
  }
  input[type="text"] {
    width:250px;
    height:40px;
    
  }

#findPw li label {
  width: 100px;
  height: 20px;
  line-height:50px;
  font-size:20px;
  font-weight:default;
  float:left;
  }

/*
  #submit input {
    width:100px;
    height:50px;
    font-size:20px;
  }
  #submit input:hover {
    background-color:rgb(75, 75, 75);
    color:#fff;
    border-color:#fff;
  }
*/

#l-link {
    margin: 0 auto;
    text-align: center;
}
#l-link a::after{
	padding-left: 20px;
	content:"|";
}
#l-link a:last-child::after{
	content:"";
	padding: 0px;
}
a {
  text-decoration-line: none;
  color: black;
  padding-left: 8px;
  padding-right: 8px;
  
  
  }