ul {
    list-style: none;
    padding-left: 100px;
  }

ul li {
    margin:10px;
  }
#container {
    background-color: rgb(255, 255, 255);
    margin: 180px auto;
    width:800px;
  }
  
#logo img{
    height: 90px;
    margin: auto;
}
fieldset{
    margin: 0 auto;
    position: relative;
    background: white;
    border: 1px solidrgb(73, 73, 73);
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 700px;
    line-height: 30px;
}
#signup h1{
  margin-top: 90px;
  margin-bottom: 20px;
  text-align: center;
}
input[type="text"], input[type="password"], input[type="email"] {
    width:200px;
    height:20px;
  }
label {
	margin-left: 50px;
    width:120px;
    line-height: 36px;
    float:left;
    font-weight:bold;
  }
  
.id_ok{
  color: #00800;
  display: none;
  }
  
.id_already{
	color:#6A82FB; 
	display: none;
}
  
#buttons{
    padding-top: 40px;
    width:200px;
    margin:auto;
    text-align: center;
  }
#buttons input {
    width:100px;
    height:50px;
    font-size:20px;
  }
button[type=submit] {
    display: flex;
    border-radius: 5px;
    display: block;
    font-size: 13px 留묒�怨좊뵓, 援대┝, �룍��;
    letter-spacing: 1px;
    margin: auto;
    padding: 20px 20px;
    text-align: center;
  }
button[type=submit]:hover {
    background-color:rgb(75, 75, 75);
    color:#fff;
    border-color:#fff;
  }